body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgba(71, 207, 248, 0.158);
    margin: auto;
   
}
#nav{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    font-size: 25px;
    
   
}

#nav>div>a{
    color: white;
    text-decoration: none;
}
#layout{
   
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(auto,auto);
    gap: 25px;
    border: none;
    box-shadow: 0px 0px 0px  0px 0.5px;
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2%;
   
    
}

.cards{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    /* border: 1px solid black; */
    margin: auto;
    padding: 2%;
    border-radius: 10px;

 
}

img{
    display: block;
    margin: auto;
}
h2{
   
    

    
}
button{
    padding: 10px 20px;
    border-radius: 5px;
    border: none;

}
