* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#form {
  width: 30%;
  margin: auto;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#form > input {
  margin-top: 3%;
  padding: 2%;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

#form > input:nth-child(4) {
  background-color: black;
  color: white;
  border-radius: 10px;
  font-weight: 400;
}
